
body
{
	font-family: 'Open Sans', sans-serif;
}

.f-m2
{
	
	font-family: 'Dosis', sans-serif;;
}
.f-m3
{
	font-family: 'Baloo Da 2', cursive;
}
.f-m4
{
	font-family: 'Liu Jian Mao Cao', cursive;
}
.bg-blue
{
	background-color: blue;
}
.f-w600
{
	font-weight: 600;
}

.f-w700
{
	font-weight: 700;
}
.f-w800
{
	font-weight: 800;
}
.f-w900
{
	font-weight: 900;
}
.f-s60
{
	font-size: 60px;
}
.f-s40
{

	font-size: 40px;
}
.f-s35
{
	font-size: 35px;
}
.f-s30
{

	font-size: 30px;
}
.f-s25
{
	font-size: 25px;
}
.f-s27
{
	font-size: 27px;
}
.f-s20
{
	font-size: 20px;
}
.f-s18
{
	font-size: 18px;
}
.f-s15
{
	font-size: 15px;
}
.f-s10
{
	font-size: 10px;
}
.m
{
	display: grid;
	grid-template-columns: repeat(5,1fr);
}
.color-gray
{
	color: #5c5c5c;
}
.color-blue
{
	color: #1ef1fc;
}
.color-red
{
	color: #fc2e17;
}
.color-blue1
{
	color: #17fc8a;
}
.color-dark
{
	color: #324039;
}
.color-white
{
	color: white;
}
.color-green
{
	color: #00ab1c;
}
.color-yellow
{
	color: #d4d400;
}
.g
{
	display: grid;
	grid-template-columns: repeat(6,auto);
}
.grid1
{
	display: grid;
	grid-template-rows: repeat(6,auto);
	grid-row-gap: 10px;
}
.btn1
{
	text-align: center;
	width: 167px;
}
.main
{
	display: grid;
	grid-auto-rows: auto;
	grid-row-gap: 30px;
}
.btn2
{
	text-decoration: line-through;
}
.btn3
{
	text-decoration: underline;
}
.btn4
{
	font-style: italic;
}
.grid2
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	align-items: baseline;
}
.gen-a
{
	text-decoration: none;
}
.gen-a:hover
{
	text-decoration: underline;
}
.gridm
{
	display: grid;
	grid-auto-rows: auto;
	grid-row-gap: 20px;
}
.text1
{
	text-align: left;
}
.text2
{
	text-align: center;
}
.text3
{
	text-align: right;
}
.text4
{
	text-align: justify;
}
.grid3
{
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	justify-content: left;
	align-items: center;
}
.grid4
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.tab
{
	padding: 0 8px;
	border-radius: 4px;
}
.text-gradient
{
	background: linear-gradient( 45deg,red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}